[Unit]
Description=Gottes Wort für jeden Tag
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/Apps/gwfjt/bin/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
