[Unit]
Description=Telegram Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/Apps/tbot/bin/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
